
# Backend
backend/pycache/
backend/.py[cod]
backend/$py.class
backend/.so
backend/.Python
backend/venv/
backend/env/
backend/.env
backend/.pytest_cache/
backend/dist/
backend/build/
backend/.egg-info/
backend/app/pycache/*.pyc
backend/.venv